---
const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";

---

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Women Startup Summit</title>
    
    <!-- Favicons-->
    <link rel=" icon" href="/womenstartupsummit_2023/img/Group 2 (2).svg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/womenstartupsummit_2023/img/Group 2 (2).svg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/womenstartupsummit_2023/img/Group 2 (2).svg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/womenstartupsummit_2023/img/Group 2 (2).svg">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/womenstartupsummit_2023/img/Group 2 (2).svg">

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="/womenstartupsummit_2023/css/bootstrap.min.css" rel="stylesheet">
    <link href="/womenstartupsummit_2023/css/style.css" rel="stylesheet">
	<link href="/womenstartupsummit_2023/css/vendors.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/womenstartupsummit_2023/css/custom.css" rel="stylesheet">

</head>

<body class="datepicker_mobile_full"> 

	<Navbar></Navbar>
	<slot />

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->

<!-- COMMON SCRIPTS -->
<script src="/womenstartupsummit_2023/js/common_scripts.js" is:inline ></script>
<script src="/womenstartupsummit_2023/js/common_functions.js" is:inline ></script>
<script src="/womenstartupsummit_2023/js/datepicker_inline.js" is:inline ></script>
<script src="/womenstartupsummit_2023/phpmailer/validate.js" is:inline ></script>

</body>
</html>